openapi: 3.0.0
info:
  title: pagueON APP
  description: |
    # Autenticação
    A autenticação para as rotas são feitas utilizando JWT.
    Em caso do token ser inválido será retornado um status code `403 - Forbidden` com a mensagem:
    ~~~~
    {
      "message": "Sem permissão."
    }
    ~~~~
    <!-- ReDoc-Inject: <security-definitions> -->

    # Validação de campos nos dados de entrada
    O pagueON APP valida cada um dos campos enviados na requisição antes de prosseguir com a criação, consulta ou gerenciamento dos pedidos, transações e recursos.

    Caso um ou mais campos não sejam validados, será retornado o status code `422 - Unprocessable Entity` e o corpo da resposta conterá o nome dos campos como chave e um array de string descrevendo o erro pra cada campo, como visto abaixo.
    ~~~~
    {
      "campo_errado_1": ["Descrição do erro do campo 1"],
      "campo_errado_2": ["Descrição do erro do campo 2"]
    }
    ~~~~
    # Paginação
    Em rotas que possuem paginação, as respostas descritas aqui na documentação serão encapsuladas na seguinte estrutura:
    ~~~~
    {
      "total_registros": 0,
      "total_paginas": 0,
      "registros": [
        {resposta descrita na funcionalidade}
      ],
      "extra" : {
        campos comuns caso existam, será descrito na rota se existem e quais são utilizados. 
        Caso não exista, não será enviado
      }
    }
    ~~~~
  contact:
    name: API Support
    url: https://www.pagueon.com.br
    email: desenvolvimento@pagueon.com.br
  x-logo:
    url: https://www.pagueon.com.br/static/img/logo-1.svg
    href: /docs
    altText: pagueON APP
  version: "1.0"
servers:
  - url: https://api-mobile.pagueon.com/
    variables: {}
    description: Produção
  - url: https://api-mobile-hgi.pagueon.com/
    variables: {}
    description: Homologação Gestora
paths:
  /gestor/v1/pessoafisica/{cd_usuario}:
    post:
      security:
        - JWT: []
      tags:
        - Conta PF
      summary: Cadastro complementar de pessoa física
      description: Cadastro complementar de pessoa física
      operationId: Cadastrocomplementardepessoafísica
      parameters:
        - name: cd_usuario
          in: path
          description: "Identificador do usuário retornado no login"
          required: true
          style: simple
          schema:
            format: uuid
            type: string
      requestBody:
        description: ""
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CadastroComplementarCorpo"
        required: true
      responses:
        "201":
          description: Sucesso
          headers: {}
          content:
            application/json:
              schema:
                type: object
        "404":
          description: Cliente não encontrado
          headers: {}
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VerificarPessoaFisicaErroNaoEncontrado"
        "403":
          description: Proibido
          headers: {}
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VerificarAberturaErroProibido"
        "409":
          description: Conflito
          headers: {}
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/CadastroComplementarErroConflito"
                  - $ref: "#/components/schemas/VerificarAberturaErroSolicitada"
        "412":
          description: Erro genérico
          headers: {}
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErroGenerico"
        "422":
          description: Erro semântico ou de validação
          headers: {}
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErroValidacao"
      deprecated: false
    put:
      security:
        - JWT: []
      tags:
        - Conta PF
      summary: Reenvio de dados de pessoa física
      description: Reenvio de dados de pessoa física
      operationId: Reenviodedadosdepessoafísica
      parameters:
        - name: cd_usuario
          in: path
          description: "Identificador do usuário retornado no login"
          required: true
          style: simple
          schema:
            format: uuid
            type: string
      requestBody:
        description: ""
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ReenvioDadosCorpo"
        required: true
      responses:
        "200":
          description: Sucesso
          headers: {}
          content:
            application/json:
              schema:
                type: object
        "404":
          description: Cliente não encontrado
          headers: {}
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VerificarPessoaFisicaErroNaoEncontrado"
        "403":
          description: Conta não possui alterações pendentes da etapa 2
          headers: {}
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReenvioDadosErroConta"
        "409":
          description: Não foi possível reenviar
          headers: {}
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReenvioDadosErroNaoFoiPossivel"
        "412":
          description: Erro genérico
          headers: {}
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErroGenerico"
        "422":
          description: Erro semântico ou de validação
          headers: {}
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErroValidacao"
      deprecated: false
    get:
      security:
        - JWT: []
      tags:
        - Pessoa Física
      summary: Obter dados de pessoa física
      description: Obter dados de pessoa física
      operationId: Obterdadosdepessoafísica
      parameters:
        - name: cd_usuario
          in: path
          description: "Identificador do usuário retornado no login"
          required: true
          style: simple
          schema:
            format: uuid
            type: string
      responses:
        "200":
          description: Sucesso
          headers: {}
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ObterPessoaFisica"
        "404":
          description: Cliente não encontrado
          headers: {}
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VerificarPessoaFisicaErroNaoEncontrado"
        "412":
          description: Erro genérico
          headers: {}
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErroGenerico"
        "422":
          description: Erro semântico ou de validação
          headers: {}
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErroValidacao"
      deprecated: false
    patch:
      security:
        - JWT: []
      tags:
        - Pessoa Física
      summary: Atualizar informações do usuário
      description: Atualizar informações do usuário
      operationId: Atualizarinformacoesdousuario
      parameters:
        - name: cd_usuario
          in: path
          description: "Identificador do usuário retornado no login"
          required: true
          style: simple
          schema:
            format: uuid
            type: string
      requestBody:
        description: ""
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AtualizarPessoaFisica"
        required: true
      responses:
        "200":
          description: sucesso
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AtualizarPessoaFisicaRetorno"
        "409":
          description: Email não é válido
          headers: {}
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AtualizarPessoaFisicaErroEmail"
        "422":
          description: Erro semântico ou de validação
          headers: {}
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErroValidacao"
        "412":
          description: Erro genérico
          headers: {}
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErroGenerico"
        "503":
          description: Serviço Indisponível
          headers: {}
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AtualizarPessoaFisicaNaoFoiPossivel"

  /gestor/v1/pessoafisica/{cd_usuario}/senha/validar:
    post:
      security:
        - JWT: []
      tags:
        - Pessoa Física
      summary: Validação da senha de movimentação financeira
      description: Validação da senha de movimentação financeira da pessoa física
      operationId: Validarsenhamovimentacaofinanceira
      parameters:
        - name: cd_usuario
          in: path
          description: "Identificador do usuário retornado no login"
          required: true
          style: simple
          schema:
            format: uuid
            type: string
      requestBody:
        description: ""
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ValidarSenhaCorpo"
        required: true
      responses:
        "200":
          description: Sucesso
          headers: {}
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SenhaFinanceiraValida"
        "403":
          description: Erro de permissão do usuário
          headers: {}
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SenhaFinanceiraInvalida"
        "404":
          description: Cliente não encontrado
          headers: {}
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VerificarPessoaFisicaErroNaoEncontrado"
        "412":
          description: Erro genérico
          headers: {}
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErroGenerico"
        "422":
          description: Erro semântico ou de validação
          headers: {}
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErroValidacao"
      deprecated: false
  /gestor/v1/pessoafisica/{cd_usuario}/enderecos:
    get:
      security:
        - JWT: []
      tags:
        - Pessoa Física
      summary: Listar endereços de uma pessoa física
      description: Listar endereços de uma pessoa física
      operationId: ListarEnderecosPessoaFisica
      parameters:
        - name: cd_usuario
          in: path
          description: "Identificador do usuário retornado no login"
          required: true
          style: simple
          schema:
            format: uuid
            type: string
      responses:
        "200":
          description: Sucesso
          headers: {}
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListarEnderecosPessoaFisica"
        "404":
          description: Cliente não encontrado
          headers: {}
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VerificarPessoaFisicaErroNaoEncontrado"
        "412":
          description: Erro genérico
          headers: {}
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErroGenerico"
        "422":
          description: Erro semântico ou de validação
          headers: {}
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErroValidacao"
      deprecated: false
  /gestor/v1/pessoafisica/{cd_usuario}/enderecos/{cd_endereco}:
    get:
      security:
        - JWT: []
      tags:
        - Pessoa Física
      summary: Obter endereço de uma pessoa física
      description: Obter endereço de uma pessoa física
      operationId: ObterEnderecosPessoaFisica
      parameters:
        - name: cd_usuario
          in: path
          description: "Identificador do usuário retornado no login"
          required: true
          style: simple
          schema:
            format: uuid
            type: string
        - name: cd_endereco
          in: path
          description: "Identificador do endereço do usuário"
          required: true
          style: simple
          schema:
            format: uuid
            type: string
      responses:
        "200":
          description: Sucesso
          headers: {}
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EnderecoPessoaFisica"
        "404":
          description: Cliente não encontrado
          headers: {}
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VerificarPessoaFisicaErroNaoEncontrado"
        "412":
          description: Erro genérico
          headers: {}
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErroGenerico"
        "422":
          description: Erro semântico ou de validação
          headers: {}
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErroValidacao"
      deprecated: false
  /gestor/v1/pessoafisica:
    post:
      tags:
        - Pessoa Física
      summary: Cadastro inicial de pessoa física
      description: Cadastro inicial de pessoa física
      operationId: Cadastroinicialdepessoafísica
      parameters: []
      requestBody:
        description: ""
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CadastroInicialPfCorpo"
        required: true
      responses:
        "201":
          description: Sucesso
          headers: {}
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CadastroInicialPf"
        "409":
          description: Erro no cadastro de pessoa física
          headers: {}
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CadastroInicialPfErro"
        "412":
          description: Erro genérico
          headers: {}
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErroGenerico"
        "422":
          description: Erro semântico ou de validação
          headers: {}
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErroValidacao"
      deprecated: false
  /gestor/v1/contrato/conta-pf:
    get:
      tags:
        - Termos/Contratos
      summary: Contato do négocio Conta Digital PF
      description: Obter contato mais recente do négocio de Conta Digital para pessoa física
      operationId: Obtercontatodacontadepessoafísica
      parameters: []
      responses:
        "200":
          description: Sucesso
          headers: {}
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ObterTermo"
        "503":
          description: Erro na geração de link
          headers: {}
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ObterContratoCarteiraCartaoErroLink"
        "404":
          description: Não encontrado
          headers: {}
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ObterContratoContaPfErroNaoEncontrado"
        "412":
          description: Erro genérico
          headers: {}
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErroGenerico"
      deprecated: false
  /gestor/v1/contrato/carteira-cartao:
    get:
      tags:
        - Termos/Contratos
      summary: Contato do négocio da Carteira de Cartões
      description: Obter contato mais recente do négocio de Carteira de Cartões
      operationId: Obtercontratodacarteiracartão
      parameters: []
      responses:
        "200":
          description: Sucesso
          headers: {}
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ObterTermo"
        "503":
          description: Erro na geração de link
          headers: {}
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ObterContratoCarteiraCartaoErroLink"
        "404":
          description: Não encontrado
          headers: {}
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ObterContratoCarteiraCartaoErroNaoEncontrado"
        "412":
          description: Erro genérico
          headers: {}
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErroGenerico"
      deprecated: false
  /gestor/v1/termo/pagueon:
    get:
      tags:
        - Termos/Contratos
      summary: Termos e políticas da empresa pagueON
      description: Obter os termos e políticas mais recentes da empresa pagueON
      operationId: Obtertermo
      parameters: []
      responses:
        "200":
          description: Sucesso
          headers: {}
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ObterTermo"
        "500":
          description: Erro nos filtros
          headers: {}
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ObterTermoErroFiltro"
        "503":
          description: Erro na geração de link
          headers: {}
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ObterTermoErroLink"
        "404":
          description: Não encontrado
          headers: {}
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ObterTermoErroNaoEncontrado"
        "412":
          description: Erro genérico
          headers: {}
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErroGenerico"
      deprecated: false
  /gestor/v1/pessoafisica/{cd_usuario}/verificar-abertura:
    get:
      security:
        - JWT: []
      tags:
        - Conta PF
      summary: Verificar aptidão para abertura de conta digital
      description: Verificar aptidão para abertura de conta digital
      operationId: Verificaraptidãoparaaberturadecontadigital
      parameters:
        - name: cd_usuario
          in: path
          description: "Identificador do usuário retornado no login"
          required: true
          style: simple
          schema:
            format: uuid
            type: string
      responses:
        "200":
          description: Sucesso
          headers: {}
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VerificarAbertura"
        "403":
          description: Proibido
          headers: {}
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VerificarAberturaErroProibido"
        "409":
          description: Conta já solicitada
          headers: {}
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VerificarAberturaErroSolicitada"
        "404":
          description: Não encontrado
          headers: {}
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VerificarPessoaFisicaErroNaoEncontrado"
        "422":
          description: Erro semântico ou de validação
          headers: {}
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErroValidacao"
        "412":
          description: Erro genérico
          headers: {}
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErroGenerico"
      deprecated: false
  /gestor/v1/pessoafisica/verificar-email-valido:
    post:
      tags:
        - Pessoa Física
      summary: Verificar validade de email
      description: Verificar validade de email
      operationId: Verificarvalidadedeemail
      parameters: []
      requestBody:
        description: ""
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Email"
        required: true
      responses:
        "200":
          description: Sucesso
          headers: {}
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VerificarEmail"
        "422":
          description: Erro semântico ou de validação
          headers: {}
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErroValidacao"
        "412":
          description: Erro genérico
          headers: {}
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErroGenerico"
      deprecated: false
  /gestor/v1/pessoafisica/verificar-telefone:
    post:
      tags:
        - Pessoa Física
      summary: Verificar validade de telefone
      description: Verificar validade de telefone
      operationId: Verificarvalidadedetelefone
      parameters: []
      requestBody:
        description: ""
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Telefone"
        required: true
      responses:
        "200":
          description: Sucesso
          headers: {}
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VerificarTelefone"
        "422":
          description: Erro semântico ou de validação
          headers: {}
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErroValidacao"
        "412":
          description: Erro genérico
          headers: {}
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErroGenerico"
      deprecated: false
  /gestor/v1/pessoafisica/{cpf}/dispositivo/{imei}:
    get:
      tags:
        - Pessoa Física
      summary: Procurar pessoa física
      description: Procurar pessoa física a partir do CPF e imei do dispositivo
      operationId: Procurarpessoafísica
      parameters:
        - name: cpf
          in: path
          description: "CPF utilizando somente números, ex: 66137026094"
          required: true
          style: simple
          schema:
            type: string
            format: cpf
            minLength: 9
            maxLength: 9
        - name: imei
          in: path
          description: Identificador único do dispositivo, pode ser um UUID ou uma sequência de números.
          required: true
          style: simple
          schema:
            type: string
      responses:
        "200":
          description: Sucesso
          headers: {}
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VerificarPessoaFisica"
        "404":
          description: Não encontrado
          headers: {}
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VerificarPessoaFisicaErroNaoEncontrado"
        "422":
          description: Erro semântico ou de validação
          headers: {}
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErroValidacao"
        "412":
          description: Erro genérico
          headers: {}
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErroGenerico"
      deprecated: false
  /gestor/v1/pessoafisica/{cd_usuario}/dispositivo:
    get:
      security:
        - JWT: []
      tags:
        - Pessoa Física
      summary: Procurar dispositivo vinculado a pessoa física
      description: Procurar dispositivo vinculado a pessoa física a partir do CPF
      operationId: Procurardispositivopessoafísica
      parameters:
        - name: cd_usuario
          in: path
          description: "Identificador do usuário retornado no login"
          required: true
          style: simple
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Sucesso
          headers: {}
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VerificarDispositivoPessoaFisica"
        "404":
          description: Não encontrado
          headers: {}
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VerificarPessoaFisicaErroNaoEncontrado"
        "422":
          description: Erro semântico ou de validação
          headers: {}
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErroValidacao"
        "412":
          description: Erro genérico
          headers: {}
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErroGenerico"
      deprecated: false
  /contadigital/v1/contas/{cd_usuario}/transferencias/{numero_documento}:
    get:
      security:
        - JWT: []
      tags:
        - Transferências
      summary: Obter beneficiário
      description: Obter beneficiário
      operationId: ObterBeneficiario
      parameters:
        - name: cd_usuario
          in: path
          description: "Identificador do usuário retornado no login"
          required: true
          style: simple
          schema:
            type: string
            format: uuid
        - name: numero_documento
          in: path
          description: "Número do documento do beneficiário"
          required: true
          style: simple
          schema:
            type: string
      responses:
        "200":
          description: Sucesso
          headers: {}
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ObterBeneficiario"
        "404":
          description: Não encontrado
          headers: {}
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/ObterBeneficiarioNaoEncontrado"
        "422":
          description: Erro semântico ou de validação
          headers: {}
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErroValidacao"
        "412":
          description: Erro genérico
          headers: {}
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErroGenerico"
      deprecated: false
  /contadigital/v1/bancos:
    get:
      security:
        - JWT: []
      tags:
        - Serviços Auxiliares
      summary: Listar instituições bancárias
      description: Listar instituições bancárias
      operationId: ListarBancos
      responses:
        "200":
          description: Sucesso
          headers: {}
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListarBancos"
        "503":
          description: Serviço Indisponível
          headers: {}
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListarBancosIndisponivel"
      deprecated: false
  /contadigital/v1/contas/{cd_usuario}/transferencias:
    post:
      security:
        - JWT: []
      tags:
        - Transferências
      summary: Realizar transferência bancária
      description: Realizar transferência bancária
      operationId: TransferenciaBancaria
      parameters:
        - name: cd_usuario
          in: path
          description: "Identificador do usuário retornado no login"
          required: true
          style: simple
          schema:
            format: uuid
            type: string
      requestBody:
        description: Corpo da requisição
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TransferenciaBancariaCorpo"
        required: true
      responses:
        "200":
          description: Sucesso
          headers: {}
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TransferenciaBancaria"
        "404":
          description: Não encontrado
          headers: {}
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExtratoContaPfNaoEncontrado"
        "400":
          description: Não permitido
          headers: {}
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/RealizarTransferenciaErroHorario"
                  - $ref: "#/components/schemas/RealizarTransferenciaErroContasIguais"
                  - $ref: "#/components/schemas/RealizarTransferenciaErroSaldo"
        "422":
          description: Erro semântico ou de validação
          headers: {}
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErroValidacao"
        "412":
          description: Erro genérico
          headers: {}
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErroGenerico"
        "503":
          description: Serviço Indisponível
          headers: {}
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TransferenciaIndisponivel"
      deprecated: false
  /contadigital/v1/contas/{cd_usuario}/transferencia/{cd_transferencia}:
    get:
      security:
        - JWT: []
      tags:
        - Transferências
      summary: Obter comprovante de transferência bancária
      description: Obter comprovante de transferência bancária
      operationId: ObterTransferenciaBancaria
      parameters:
        - name: cd_usuario
          in: path
          description: "Identificador do usuário retornado no login"
          required: true
          style: simple
          schema:
            format: uuid
            type: string
        - name: cd_transferencia
          in: path
          description: Identificador da transferência
          required: true
          style: simple
          schema:
            format: uuid
            type: string
      responses:
        "200":
          description: Sucesso
          headers: {}
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ObterTransferenciaBancaria"
        "404":
          description: Não encontrado
          headers: {}
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/ExtratoContaPfNaoEncontrado"
                  - $ref: "#/components/schemas/ObterTransferenciaBancariaNaoEncontrado"
        "422":
          description: Erro semântico ou de validação
          headers: {}
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErroValidacao"
        "412":
          description: Erro genérico
          headers: {}
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErroGenerico"
        "503":
          description: Serviço Indisponível
          headers: {}
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ObterTransferenciaBancariaIndisponivel"
      deprecated: false
  /contadigital/v1/contas/{cd_usuario}/extrato:
    get:
      security:
        - JWT: []
      tags:
        - Conta Digital PF
      summary: Obter Extrato da conta digital PF
      description: Obter Extrato da conta digital PF
      operationId: ObterExtratodacontaPF
      parameters:
        - name: cd_usuario
          in: path
          description: "Identificador do usuário retornado no login"
          required: true
          style: simple
          schema:
            format: uuid
            type: string
        - name: limit
          in: query
          description: "Número de registros retornados na página, ex: 20"
          required: true
          style: form
          explode: true
          schema:
            type: string
        - name: offset
          in: query
          description: "Número de registros para pular no retorno da página, ex: 0"
          required: true
          style: form
          explode: true
          schema:
            type: string
      responses:
        "200":
          description: Sucesso
          headers: {}
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ObterExtratoContaPf"
        "404":
          description: Não encontrado
          headers: {}
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExtratoContaPfNaoEncontrado"
        "422":
          description: Erro semântico ou de validação
          headers: {}
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErroValidacao"
        "412":
          description: Erro genérico
          headers: {}
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErroGenerico"
        "503":
          description: Serviço Indisponível
          headers: {}
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExtratoContaPfIndisponivel"
      deprecated: false
  /contadigital/v1/endereco/cep/{cep}:
    get:
      tags:
        - Serviços Auxiliares
      summary: Obter Endereço pelo CEP
      description: Obter Endereço pelo CEP
      operationId: ObterEndereçopeloCEP
      parameters:
        - name: cep
          in: path
          description: "Utiliza-se somente números e com valor máximo de 8 dígitos. Exemplo: 49140000"
          required: true
          style: simple
          schema:
            type: string
      responses:
        "200":
          description: Sucesso
          headers: {}
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ObterEndereco"
        "400":
          description: Cep inválido
          headers: {}
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EnderecoInvalido"
        "404":
          description: Não encontrado
          headers: {}
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EnderecoNaoEncontrado"
        "422":
          description: Erro semântico ou de validação
          headers: {}
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErroValidacao"
        "412":
          description: Erro genérico
          headers: {}
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErroGenerico"
      deprecated: false
  /contadigital/v1/contas/{cd_usuario}/enviar-documento:
    put:
      security:
        - JWT: []
      tags:
        - Conta Digital PF
      summary: Envio dos Documentos (SELFIE, RG ou CNH)
      description: Envio dos Documentos (SELFIE, RG ou CNH)
      operationId: EnviodosDocumentos
      parameters:
        - name: cd_usuario
          in: path
          description: ID do usuário retornado no login
          required: true
          style: simple
          schema:
            format: uuid
            type: string
      requestBody:
        description: Corpo do Documento
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DocumentoBody"
        required: true
      responses:
        "200":
          description: Sucesso
          headers: {}
          content:
            application/json:
              schema:
                type: object
        "404":
          description: Não encontrado
          headers: {}
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExtratoContaPfNaoEncontrado"
        "422":
          description: Erro semântico ou de validação
          headers: {}
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErroValidacao"
        "412":
          description: Erro genérico
          headers: {}
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErroGenerico"
        "502":
          description: Serviço Indisponível
          headers: {}
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EnviarDocumentoErroS3"
      deprecated: false
  /contadigital/v1/contas/{cd_usuario}/historico-saldo:
    get:
      security:
        - JWT: []
      tags:
        - Conta Digital PF
      summary: Obter Histórico do Saldo Conta Pf
      description: Obter Histórico pontual do Saldo da Conta Pf para construção do gráfico
      operationId: ObterHistóricoSaldoContaPf
      parameters:
        - name: cd_usuario
          in: path
          description: "Identificador do usuário retornado no login"
          required: true
          style: simple
          schema:
            format: uuid
            type: string
      responses:
        "200":
          description: Sucesso
          headers: {}
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ObterHistoricoSaldoContaPf"
        "404":
          description: Não encontrado
          headers: {}
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HistoricoSaldoContaPfNaoEncontrado"
        "422":
          description: Erro semântico ou de validação
          headers: {}
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErroValidacao"
        "412":
          description: Erro genérico
          headers: {}
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErroGenerico"
      deprecated: false
  /contadigital/v1/contas/{cd_usuario}/boleto:
    post:
      security:
        - JWT: []
      tags:
        - Boleto Depósito
      summary: Emitir Boleto de Depósito
      description: Emitir Boleto de depósito para saldo na conta digital PF
      operationId: EmitirBoleto
      parameters:
        - name: cd_usuario
          in: path
          description: "Identificador do usuário retornado no login"
          required: true
          style: simple
          schema:
            format: uuid
            type: string
      requestBody:
        description: Corpo do Boleto
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EmitirBoletoBody"
        required: true
      responses:
        "201":
          description: Sucesso
          headers: {}
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EmitirBoleto"
        "404":
          description: Não encontrado
          headers: {}
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ContaNaoEncontrada"
        "422":
          description: Erro semântico ou de validação
          headers: {}
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErroValidacao"
        "412":
          description: Erro genérico
          headers: {}
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErroGenerico"
        "503":
          description: Erro Indisponível
          headers: {}
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErroEmissaoBoleto"
      deprecated: false
  /contadigital/v1/contas/{cd_usuario}/boleto/{boleto}:
    get:
      security:
        - JWT: []
      tags:
        - Boleto Depósito
      summary: Obter Dados do Boleto
      description: Obter Dados do Boleto
      operationId: ObterDadosdoBoleto
      parameters:
        - name: cd_usuario
          in: path
          description: "Identificador do usuário retornado no login"
          required: true
          style: simple
          schema:
            format: uuid
            type: string
        - name: boleto
          in: path
          description: Código de autenticação do boleto de depósito
          required: true
          style: simple
          schema:
            format: uuid
            type: string
      responses:
        "200":
          description: Sucesso
          headers: {}
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DadosBoleto"
        "404":
          description: Não encontrado
          headers: {}
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ContaNaoEncontrada"
        "422":
          description: Erro semântico ou de validação
          headers: {}
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErroValidacao"
        "412":
          description: Erro genérico
          headers: {}
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErroGenerico"
        "503":
          description: Erro Indisponível
          headers: {}
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErroConsultaDadosBoleto"
      deprecated: false
  /contadigital/v1/contas/{cd_usuario}/boleto/{boleto}/pdf:
    get:
      security:
        - JWT: []
      tags:
        - Boleto Depósito
      summary: Imprimir Boleto
      description: Imprimir Boleto
      operationId: ImprimirBoleto
      parameters:
        - name: cd_usuario
          in: path
          description: "Identificador do usuário retornado no login"
          required: true
          style: simple
          schema:
            format: uuid
            type: string
        - name: boleto
          in: path
          description: Valor do boleto a ser depositado na conta digital
          required: true
          style: simple
          schema:
            type: string
      responses:
        "200":
          description: Arquivo PDF do boleto em Bytes
          headers: {}
          content:
            application/pdf:
              schema:
                type: string
                format: binary
        "404":
          description: Não encontrado
          headers: {}
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ContaNaoEncontrada"
        "422":
          description: Erro semântico ou de validação
          headers: {}
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErroValidacao"
        "412":
          description: Erro genérico
          headers: {}
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErroGenerico"
        "503":
          description: Erro Indisponível
          headers: {}
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErroEmissaoBoleto"
      deprecated: false
  /contadigital/v1/contas/{cd_usuario}:
    get:
      security:
        - JWT: []
      tags:
        - Conta Digital PF
      summary: Obter dados e saldo da conta digital PF
      description: Obter dados e saldo da conta digital PF
      operationId: Obterdadosesaldodaconta
      parameters:
        - name: cd_usuario
          in: path
          description: "Identificador do usuário retornado no login"
          required: true
          style: simple
          schema:
            format: uuid
            type: string
      responses:
        "200":
          description: Sucesso
          headers: {}
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ObterContaPf"
        "404":
          description: Não encontrado
          headers: {}
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ContaPfNaoEncontrada"
        "422":
          description: Erro semântico ou de validação
          headers: {}
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErroValidacao"
        "412":
          description: Erro genérico
          headers: {}
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErroGenerico"
      deprecated: false
  /contadigital/v1/contas/{cd_usuario}/cartoes:
    get:
      security:
        - JWT: []
      tags:
        - Cartões
      summary: Listagem de cartões
      description: Listagem de cartões
      operationId: Listagemdecartões
      parameters:
        - name: cd_usuario
          in: path
          description: "Identificador do usuário retornado no login"
          required: true
          style: simple
          schema:
            format: uuid
            type: string
        - name: status_reversivel
          in: query
          description: Booleano para indicar se o status do cartão é reversível
          explode: true
          schema:
            type: boolean
      responses:
        "200":
          description: Sucesso
          headers: {}
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Cartoes"
        "422":
          description: Erro semântico ou de validação
          headers: {}
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErroValidacao"
        "412":
          description: Erro genérico
          headers: {}
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErroGenerico"
        "503":
          description: Erro Indisponível
          headers: {}
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErroListagemCartoes"
      deprecated: false
  /contadigital/v1/contas/{cd_usuario}/cartoes/aptidao:
    get:
      security:
        - JWT: []
      tags:
        - Cartões
      summary: Verificar aptidão para criar cartões
      description: Verificar aptidão para criar cartões
      operationId: Verificaraptidãoparacriarcartões
      parameters:
        - name: cd_usuario
          in: path
          description: "Identificador do usuário retornado no login"
          required: true
          style: simple
          schema:
            format: uuid
            type: string
      responses:
        "200":
          description: Sucesso
          headers: {}
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VerificarAptidaoCriarCartao"
        "503":
          description: Não foi possível consultar os cartões
          headers: {}
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErroCartoesConsulta"
        "422":
          description: Erro semântico ou de validação
          headers: {}
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErroValidacao"
        "412":
          description: Erro genérico
          headers: {}
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErroGenerico"
      deprecated: false
  /contadigital/v1/contas/{cd_usuario}/cartoes/virtual:
    post:
      security:
        - JWT: []
      tags:
        - Cartões
      summary: Criar um cartão virtual
      description: Criar um cartão virtual
      operationId: Criarumcartãovirtual
      parameters:
        - name: cd_usuario
          in: path
          description: "Identificador do usuário retornado no login"
          required: true
          style: simple
          schema:
            format: uuid
            type: string
      requestBody:
        description: ""
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CartaoSenha"
        required: true
      responses:
        "201":
          description: Sucesso
          headers: {}
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SucessoCriarCartaoVirtual"
        "404":
          description: Não encontrado
          headers: {}
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErroContaNaoEncontrada"
        "403":
          description: Usuário já possui um cartão virtual
          headers: {}
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErroUsuarioPossuiCartaoVirtual"
        "503":
          description: Não foi possível criar um cartão virtual
          headers: {}
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErroCartaoVirtualCriar"
        "422":
          description: Erro semântico ou de validação
          headers: {}
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErroValidacao"
        "412":
          description: Erro genérico
          headers: {}
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErroGenerico"
      deprecated: false
  /contadigital/v1/contas/{cd_usuario}/cartoes/{proxy}:
    post:
      security:
        - JWT: []
      tags:
        - Cartões
      summary: Obter dados sigilosos de um cartão
      description: Obter dados sigilosos de um cartão
      operationId: Obterdadossigilososdeumcartão
      parameters:
        - name: cd_usuario
          in: path
          description: "Identificador do usuário retornado no login"
          required: true
          style: simple
          schema:
            format: uuid
            type: string
        - name: proxy
          in: path
          description: Identificador do cartão
          required: true
          style: simple
          schema:
            type: string
      requestBody:
        description: ""
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CartaoSenha"
        required: true
      responses:
        "200":
          description: Sucesso
          headers: {}
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ObterDadosSigilososCartao"
        "404":
          description: Não encontrado
          headers: {}
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErroContaNaoEncontrada"
        "403":
          description: Senha inválida
          headers: {}
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErroCartaoSenhaInvalida"
        "503":
          description: Erro Indisponível
          headers: {}
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErroCartaoConsulta"
        "422":
          description: Erro semântico ou de validação
          headers: {}
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErroValidacao"
        "412":
          description: Erro genérico
          headers: {}
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErroGenerico"
      deprecated: false
    patch:
      security:
        - JWT: []
      tags:
        - Cartões
      summary: Alterar a senha de um cartão
      description: Alterar a senha de um cartão
      operationId: Alterarasenhadeumcartão
      parameters:
        - name: cd_usuario
          in: path
          description: "Identificador do usuário retornado no login"
          required: true
          style: simple
          schema:
            format: uuid
            type: string
        - name: proxy
          in: path
          description: "Proxy utilizando somente números, ex: 22999903520114195"
          required: true
          style: simple
          schema:
            type: string
      requestBody:
        description: ""
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CartaoSenha"
        required: true
      responses:
        "200":
          description: Sucesso
          headers: {}
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AlterarSenhaCartaoSucesso"
        "403":
          description: Proibido
          headers: {}
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AlterarSenhaCartaoErroProibido"
        "503":
          description: Erro Indisponível
          headers: {}
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AlterarSenhaCartaoErroNaoFoiPossivel"
        "422":
          description: Erro semântico ou de validação
          headers: {}
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErroValidacao"
        "412":
          description: Erro genérico
          headers: {}
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErroGenerico"
      deprecated: false
  /contadigital/v1/boleto:
    post:
      tags:
        - Pagamentos
      summary: Consultar dados do boleto
      description: Retorna as informaçãos sobre o boleto consultado
      operationId: ValidarBoletocontaPF
      requestBody:
        description: ""
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ValidarBoletoCorpo"
        required: true
      responses:
        "200":
          description: Sucesso
          headers: {}
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidarBoleto"
        "404":
          description: Não encontrado
          headers: {}
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidarBoletoErroNaoEncontrado"
        "422":
          description: Erro semântico ou de validação
          headers: {}
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErroValidacao"
        "412":
          description: Erro genérico
          headers: {}
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErroGenerico"
        "503":
          description: Serviço Indisponível
          headers: {}
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidarBoletoErroNaoFoiPossivel"
      deprecated: false

  /contadigital/v1/contas/{cd_usuario}/boleto/pagar:
    post:
      tags:
        - Pagamentos
      summary: Pagamento de um boleto
      description: Realizar o pagamento de um boleto
      operationId: Pagamentodeboleto
      parameters:
        - name: cd_usuario
          in: path
          description: "Identificador do usuário retornado no login"
          required: true
          style: simple
          schema:
            format: uuid
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PagarBoletoCorpo"

      responses:
        "200":
          description: Sucesso
          headers: {}
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PagarBoletoRetorno"

        "401":
          description: Não encontrado
          headers: {}
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PagarBoletoNaoAutorizado"

        "404":
          description: Não encontrado
          headers: {}
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErroContaNaoEncontrada"

        "403":
          description: Não encontrado
          headers: {}
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/RealizarTransferenciaErroSaldo"
                  - $ref: "#/components/schemas/PagarBoletoErroVencido"
                  - $ref: "#/components/schemas/PagarBoletoErroHorario"
                  - $ref: "#/components/schemas/PagarBoletoErroValorIgual"
                  - $ref: "#/components/schemas/PagarBoletoErroValorMinimoMaximo"
        "422":
          description: Erro semântico ou de validação
          headers: {}
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErroValidacao"
        "412":
          description: Erro genérico
          headers: {}
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErroGenerico"
        "503":
          description: Serviço Indisponível
          headers: {}
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PagarBoletoErroNaoFoiPossivel"
      deprecated: false

  /contadigital/v1/contas/{cd_usuario}/pagamentos/{cd_pagamento}:
    get:
      tags:
        - Pagamentos
      summary: Comprovante de pagamento de um boleto
      description: Obter comprovante de pagamento de um boleto
      operationId: Comprovantepagamentodeboleto
      parameters:
        - name: cd_usuario
          in: path
          description: "Identificador do usuário retornado no login"
          required: true
          style: simple
          schema:
            format: uuid
            type: string
        - name: cd_pagamento
          in: path
          description: "Identificador do pagamento gerado atráves da rota de pagamento"
          required: true
          style: simple
          schema:
            format: uuid
            type: string

      responses:
        "200":
          description: Sucesso
          headers: {}
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ComprovanteBoletoRetorno"
        "404":
          description: Não encontrado
          headers: {}
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/ErroContaNaoEncontrada"
                  - $ref: "#/components/schemas/ComprovantePagamentoNaoEncontrado"
        "422":
          description: Erro semântico ou de validação
          headers: {}
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErroValidacao"
        "412":
          description: Erro genérico
          headers: {}
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErroGenerico"
        "503":
          description: Serviço Indisponível
          headers: {}
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ComprovanteBoletoErroNaoFoiPossivel"
      deprecated: false

  /contadigital/v1/contas/{cd_usuario}/cartoes/{proxy}/cancelar:
    patch:
      security:
        - JWT: []
      tags:
        - Cartões
      summary: Cancelamento de cartão
      description: Cancelamento de Cartão
      operationId: Cancelamentdecartao
      parameters:
        - name: cd_usuario
          in: path
          description: "Identificador do usuário retornado no login"
          required: true
          style: simple
          schema:
            format: uuid
            type: string
        - name: proxy
          in: path
          description: "Proxy utilizando somente números, ex: 22999903520114195"
          required: true
          style: simple
          schema:
            type: string
      responses:
        "200":
          description: Sucesso
          headers: {}
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CancelarCartao"
        "404":
          description: Não encontrado
          headers: {}
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/ErroContaNaoEncontrada"
                  - $ref: "#/components/schemas/CartaoErroNaoEncontrado"
                  - $ref: "#/components/schemas/StatusCartaoNaoEncontrado"
        "409":
          description: Conflito de estado do cartão
          headers: {}
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CancelarCartaoErroConflito"
        "401":
          description: Senha Inválida
          headers: {}
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SenhaCartaoErroSintatico"
        "422":
          description: Erro semântico ou de validação
          headers: {}
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErroValidacao"
        "412":
          description: Erro genérico
          headers: {}
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErroGenerico"
        "503":
          description: Erro Indisponível
          headers: {}
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CancelarCartaoErroNaoFoiPossivel"
      deprecated: false
  /contadigital/v1/contas/{cd_usuario}/cartoes/{proxy}/alternar-bloqueio:
    patch:
      security:
        - JWT: []
      tags:
        - Cartões
      summary: Alternar bloqueio de cartão
      description: Alternar bloqueio de cartão
      operationId: Alternarbloqueiodecartao
      parameters:
        - name: cd_usuario
          in: path
          description: "Identificador do usuário retornado no login"
          required: true
          style: simple
          schema:
            format: uuid
            type: string
        - name: proxy
          in: path
          description: "Proxy utilizando somente números, ex: 22999903520114195"
          required: true
          style: simple
          schema:
            type: string
      responses:
        "200":
          description: Sucesso
          headers: {}
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AlternarBloqueioCartao"
        "404":
          description: Não encontrado
          headers: {}
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/ErroContaNaoEncontrada"
                  - $ref: "#/components/schemas/CartaoErroNaoEncontrado"
                  - $ref: "#/components/schemas/StatusCartaoNaoEncontrado"
        "409":
          description: Conflito de estado do cartão
          headers: {}
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/BloquearCartaoErroConflito"
                  - $ref: "#/components/schemas/DesbloquearCartaoErroConflito"
        "401":
          description: Senha Inválida
          headers: {}
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SenhaCartaoErroSintatico"
        "422":
          description: Erro semântico ou de validação
          headers: {}
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErroValidacao"
        "412":
          description: Erro genérico
          headers: {}
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErroGenerico"
        "503":
          description: Erro Indisponível
          headers: {}
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/BloquearCartaoErroNaoFoiPossivel"
                  - $ref: "#/components/schemas/DesbloquearCartaoErroNaoFoiPossivel"
      deprecated: false
  /contadigital/v1/contas/{cd_usuario}/cartoes/{proxy}/alternar-contactless:
    patch:
      security:
        - JWT: []
      tags:
        - Cartões
      summary: Alternar contactless de cartão físico
      description: Alternar contactless de cartão físico
      operationId: Alternarcontactlessdecartao
      parameters:
        - name: cd_usuario
          in: path
          description: "Identificador do usuário retornado no login"
          required: true
          style: simple
          schema:
            format: uuid
            type: string
        - name: proxy
          in: path
          description: "Proxy utilizando somente números, ex: 22999903520114195"
          required: true
          style: simple
          schema:
            type: string
        - name: contactless
          in: query
          description: "Flag booleana para alternar comportamento do contactless"
          required: true
          schema:
            type: boolean
      responses:
        "200":
          description: Sucesso
          headers: {}
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AlternarContactlessCartao"
        "404":
          description: Não encontrado
          headers: {}
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/ErroContaNaoEncontrada"
                  - $ref: "#/components/schemas/CartaoErroNaoEncontrado"
        "400":
          description: Erro na requisição
          headers: {}
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/ErroContactlessCartao"
        "422":
          description: Erro semântico ou de validação
          headers: {}
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErroValidacao"
        "412":
          description: Erro genérico
          headers: {}
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErroGenerico"
        "503":
          description: Erro Indisponível
          headers: {}
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/AlternarContactlessErroNaoFoiPossivel"
      deprecated: false
  /contadigital/v1/contas/{cd_usuario}/cartoes/{proxy}/transacoes:
    get:
      security:
        - JWT: []
      tags:
        - Cartões
      summary: Listagem de transações
      description: Listagem de transações
      operationId: Listagemdetransações
      parameters:
        - name: cd_usuario
          in: path
          description: "Identificador do usuário retornado no login"
          required: true
          style: simple
          schema:
            format: uuid
            type: string
        - name: proxy
          in: path
          description: "Proxy utilizando somente números, ex: 22999903520114195"
          required: true
          style: simple
          schema:
            type: string
        - name: data[gte]
          in: query
          description: Data inicial no formato 2020-07-20
          required: true
          style: form
          explode: true
          schema:
            type: string
        - name: data[lte]
          in: query
          description: Data final no formato 2020-07-20
          required: true
          style: form
          explode: true
          schema:
            type: string
        - name: pagesize
          in: query
          description: Número de transações em cada página
          style: form
          explode: true
          schema:
            type: string
        - name: page
          in: query
          description: Utilizado para consultar a próxima página das transações
          style: form
          explode: true
          schema:
            type: string
      responses:
        "200":
          description: Sucesso
          headers: {}
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Transacoes"
        "422":
          description: Erro semântico ou de validação
          headers: {}
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErroValidacao"
        "412":
          description: Erro genérico
          headers: {}
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErroGenerico"
        "503":
          description: Erro na consulta das transações
          headers: {}
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReenvioDadosErroConta"
      deprecated: false
  /autenticacao/v1/login:
    post:
      tags:
        - Login/Logout
      summary: Login do usuário
      description: Gera o token para sessão do usuário
      operationId: Gerartokendeusuário
      parameters: []
      requestBody:
        description: ""
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CriarTokenCorpo"
        required: true
      responses:
        "201":
          description: Sucesso
          headers: {}
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CriarTokenSucesso"
        "400":
          description: Erros na criação
          headers: {}
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CriarTokenErros"
        "422":
          description: Erro semântico ou de validação
          headers: {}
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErroValidacao"
      deprecated: false
  /autenticacao/v1/revogar-token:
    post:
      tags:
        - Login/Logout
      summary: Logout do usuário
      description: Revoga o token de sessão do usuário
      operationId: Revogartokendeusuário
      parameters: []
      requestBody:
        description: ""
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RevogarTokenCorpo"
        required: true
      responses:
        "201":
          description: Sucesso
          headers: {}
          content:
            application/json:
              schema:
                type: object
        "400":
          description: Token inválido
          headers: {}
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RenovarTokenErroInvalido"
        "412":
          description: Erro genérico
          headers: {}
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErroGenerico"
        "422":
          description: Erro semântico ou de validação
          headers: {}
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErroValidacao"
      deprecated: false
  /autenticacao/v1/renovar-token:
    post:
      tags:
        - Login/Logout
      summary: Refresh do token
      description: Renova o token de sessão do usuário
      operationId: Renovartokendeusuário
      parameters: []
      requestBody:
        description: ""
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RenovarTokenCorpo"
        required: true
      responses:
        "201":
          description: Sucesso
          headers: {}
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RenovarTokenSucesso"
        "400":
          description: Token inválido
          headers: {}
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RevogarTokenErroInvalido"
        "422":
          description: Erro semântico ou de validação
          headers: {}
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErroValidacao"
      deprecated: false
  /autorizador/v1/gerar-codigo:
    post:
      tags:
        - Dispositivo
      summary: Gerar código de confirmação do dispositivo
      description: Gerar código de confirmação do dispositivo
      operationId: Gerarcódigodeconfirmaçãododispositivo
      parameters: []
      requestBody:
        description: "Informções do dispositivo que "
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GerarCodigo"
        required: true
      responses:
        "201":
          description: Sucesso
          headers: {}
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Codigo"
        "403":
          description: Não foi possível gerar código
          headers: {}
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GerarCodigoErroNaoFoiPossivel"
        "503":
          description: Erro no envio do SMS
          headers: {}
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GerarCodigoErroEnvio"
        "412":
          description: Erro genérico
          headers: {}
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErroGenerico"
        "422":
          description: Erro semântico ou de validação
          headers: {}
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErroValidacao"
      deprecated: false
  /autorizador/v1/reenviar-codigo:
    post:
      tags:
        - Dispositivo
      summary: Reenviar código de confirmação do dispositivo
      description: Reenviar código de confirmação do dispositivo
      operationId: Reenviarcódigodeconfirmaçãododispositivo
      parameters: []
      requestBody:
        description: ""
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ReenviarCodigo"
        required: true
      responses:
        "201":
          description: Sucesso
          headers: {}
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CodigoReenvio"
        "400":
          description: Chave inválida
          headers: {}
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReenviarCodigoErroChaveInvalida"
        "403":
          description: Não foi possível reenviar código
          headers: {}
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GerarCodigoErroNaoFoiPossivel"
        "503":
          description: Erro no envio do SMS
          headers: {}
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GerarCodigoErroEnvio"
        "412":
          description: Erro genérico
          headers: {}
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErroGenerico"
        "422":
          description: Erro semântico ou de validação
          headers: {}
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErroValidacao"
      deprecated: false
  /autorizador/v1/confirmar-codigo:
    post:
      tags:
        - Dispositivo
      summary: Validar código de confirmação do dispositivo
      description: Validar código de confirmação do dispositivo
      operationId: Validarcódigodeconfirmaçãododispositivo
      parameters: []
      requestBody:
        description: ""
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ConfirmarCodigo"
        required: true
      responses:
        "201":
          description: Sucesso
          headers: {}
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CodigoConfirmar"
        "404":
          description: Código não encontrado
          headers: {}
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConfirmarCodigoErroNaoEncontrado"
        "403":
          description: Não foi possível confirmar código
          headers: {}
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConfirmarCodigoErroNaoFoiPossivel"
        "412":
          description: Erro genérico
          headers: {}
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErroGenerico"
        "422":
          description: Erro semântico ou de validação
          headers: {}
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErroValidacao"
      deprecated: false
  /autorizador/v1/vincular-dispositivo:
    post:
      tags:
        - Dispositivo
      summary: Vincular dispositivo ao usuário
      description: Vincular dispositivo ao usuário
      operationId: Vinculardispositivoaousuário
      parameters: []
      requestBody:
        description: ""
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/VincularDispositivo"
        required: true
      responses:
        "201":
          description: Sucesso
          headers: {}
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VincularDispositivoOk"
        "404":
          description: Dispositivo ou Usuário não encontrado
          headers: {}
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DispositivoErroNaoEncontrado"
        "409":
          description: Vínculo já existe
          headers: {}
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DispositivoErroVinculoExistente"
        "412":
          description: Erro genérico
          headers: {}
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErroGenerico"
        "422":
          description: Erro semântico ou de validação
          headers: {}
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErroValidacao"
      deprecated: false
  /autorizador/v1/desvincular-dispositivo:
    post:
      tags:
        - Dispositivo
      summary: Desvincular dispositivo do usuário
      description: Desvincular dispositivo do usuário
      operationId: Desvinculardispositivodousuário
      parameters: []
      requestBody:
        description: ""
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/VincularDispositivo"
        required: true
      responses:
        "201":
          description: Sucesso
          headers: {}
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VincularDispositivoOk"
        "404":
          description: Dispositivo ou Usuário não encontrado
          headers: {}
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DesvincularDispositivoErroNaoEncontrado"
        "412":
          description: Erro genérico
          headers: {}
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErroGenerico"
        "422":
          description: Erro semântico ou de validação
          headers: {}
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErroValidacao"
      deprecated: false
components:
  schemas:
    ErroListagemCartoes:
      title: ErroListagemCartoes
      type: object
      properties:
        message:
          description: Erro no serviço externo da Bankly
          type: string
          example: Não foi possível consultar os cartões.
    ReenvioDadosErroConta:
      title: ReenvioDadosErroConta
      type: object
      properties:
        message:
          description: Erro no serviço externo da Bankly
          type: string
          example: Conta não possui alterações pendentes da etapa 2.
    ReenvioDadosErroNaoFoiPossivel:
      title: ReenvioDadosErroNaoFoiPossivel
      type: object
      properties:
        message:
          $ref: "#/components/schemas/Message"
    CadastroComplementarErroConflito:
      title: CadastroComplementarErroConflito
      type: object
      properties:
        message:
          $ref: "#/components/schemas/Message1"
          example: O email não foi verificado.
    ReenvioDadosCorpo:
      title: ReenvioDadosCorpo
      required:
        - nome_completo
        - nome_mae
        - email
      type: object
      properties:
        nome_completo:
          description: Nome completo assim como no documento do cliente
          type: string
          example: Robertinho da Silva
        nome_mae:
          description: Nome da mãe do cliente assim como no documento
          type: string
          example: Robertinha da Silva
        nome_social:
          description: Nome social do cliente caso existente. [Saiba mais](https://www.mds.gov.br/webarquivos/publicacao/assistencia_social/Folders/cartilha_nome_social.pdf)
          type: string
          example: Robertinha da Silva
        email:
          description: Email do cliente cadastrado
          type: string
          example: abc@gmail.com
    ObterPessoaFisica:
      title: ObterPessoaFisica
      required:
        - nome_preferencia
        - nome_completo
        - data_nascimento
        - genero
        - ddd
        - telefone
        - foto
      type: object
      properties:
        nome_preferencia:
          description: Nome que o cliente gostaria de ser chamado
          type: string
          example: Robertinho
        nome_completo:
          description: Nome completo assim como no documento do cliente
          type: string
          example: Robertinho da Silva
        nome_mae:
          description: Nome da mãe do cliente assim como no documento
          type: string
          example: Robertinha da Silva
        nome_social:
          type: string
          description: Nome social do cliente caso existente. [Saiba mais](https://www.mds.gov.br/webarquivos/publicacao/assistencia_social/Folders/cartilha_nome_social.pdf)
          example: Robertinha da Silva
        email:
          type: string
          description: Email do cliente cadastrado
          example: abc@gmail.com
        data_nascimento:
          description: Data de nascimento do cliente de acordo com o documento
          type: string
          example: "2002-01-01"
        genero:
          description: Gênero com o qual o cliente se identifica
          type: string
          example: M
        ddd:
          description: DDD do telefone cadastrado para o cliente
          type: string
          example: "79"
          minLength: 2
          maxLength: 2
        telefone:
          description: Telefone cadastrado do cliente
          type: string
          example: "999999999"
        foto:
          description: Foto cadastrada para o cliente
          type: string
          example: Bytes da foto em b64
        email_confirmado:
          type: boolean
          example: True
    ValidarSenhaCorpo:
      title: ValidarSenhaCorpo
      type: object
      properties:
        senha:
          description: Senha de movimentação financeira cadastrada pelo cliente
          type: string
          example: "123456"
          minLength: 6
          maxLength: 6
    CadastroComplementarCorpo:
      title: CadastroComplementarCorpo
      required:
        - cpf
        - nome_preferencia
        - nome_completo
        - nome_mae
        - cep
        - logradouro
        - numero
        - bairro
        - municipio
        - uf
      type: object
      properties:
        nome_preferencia:
          description: Nome que o cliente gostaria de ser chamado
          type: string
          example: Robertinho
        nome_completo:
          description: Nome completo assim como no documento do cliente
          type: string
          example: Robertinho da Silva
        nome_mae:
          description: Nome da mãe do cliente assim como no documento
          type: string
          example: Robertinha da Silva
        nome_social:
          type: string
          description: Nome social do cliente caso existente. [Saiba mais](https://www.mds.gov.br/webarquivos/publicacao/assistencia_social/Folders/cartilha_nome_social.pdf)
          example: Robertinha da Silva
        cep:
          description: CEP do endereço do cliente
          type: string
          example: "9999999"
        logradouro:
          description: Logradouro do endereço do cliente
          type: string
          example: rua A
        numero:
          description: Número do endereço do cliente
          type: integer
          format: int32
          example: 100
        bairro:
          description: Bairro do endereço do cliente
          type: string
          example: ABC
        complemento:
          description: Complemento do endereço do cliente
          type: string
          example: "Condomínio A"
        municipio:
          description: Município do endereço do cliente
          type: string
          example: Aracaju
        uf:
          description: Estado do endereço do cliente
          type: string
          example: SE
    ObterExtratoContaPf:
      title: ObterExtratoContaPf
      required:
        - total
      type: object
      properties:
        total:
          description: Número total de items retornados
          type: number
          example: 19
        itens:
          type: array
          items:
            $ref: "#/components/schemas/ExtratoContaPfModel"
          description: Transações registradas no extrato
          example:
            - tipo: TRANSFERÊNCIA
              valor: 0.01
              operacao: DÉBITO
              data_hora: 22/03/2021 15:14:12
            - tipo: DEPÓSITO
              valor: 0.01
              operacao: CRÉDITO
              data_hora: 22/03/2021 15:14:12
    ObterBeneficiario:
      title: ObterBeneficiario
      type: object
      properties:
        agencia:
          description: Agência bancária
          type: number
          example: 0001
        conta:
          description: Conta bancária
          type: number
          example: 17122
        numero_documento:
          description: Número do documento
          type: string
          example: "99999999999"
        nome:
          type: string
          example: Fulano
    ObterTransferenciaBancaria:
      title: ObterTransferenciaBancaria
      type: object
      properties:
        identificador:
          description: Identificador da transferência
          type: number
          example: 314446bb-8044-4e42-9210-82e33fe1b925
        valor:
          description: Valor absoluto da transferência
          type: number
          example: 15.35
        pagador:
          type: object
          properties:
            numero_documento:
              type: string
              example: "99999999999"
            nome:
              type: string
              example: Fulano
            conta:
              type: object
              properties:
                agencia:
                  type: string
                  example: "00001"
                numero:
                  type: string
                  example: "182125"
                banco:
                  type: object
                  properties:
                    nome:
                      type: string
                      example: Acesso Soluções de Pagamento S.A.
                    ispb:
                      type: string
                      example: "13140088"
                    compe:
                      type: string
                      example: "033"
        beneficiario:
          type: object
          properties:
            numero_documento:
              type: string
              example: "99999999999"
            nome:
              type: string
              example: Fulano
            conta:
              type: object
              properties:
                agencia:
                  type: string
                  example: "00001"
                numero:
                  type: string
                  example: "182125"
                banco:
                  type: object
                  properties:
                    nome:
                      type: string
                      example: Acesso Soluções de Pagamento S.A.
                    ispb:
                      type: string
                      example: "13140088"
                    compe:
                      type: string
                      example: "033"
                tipo:
                  type: string
                  example: DEPOSIT
        canal:
          type: string
          example: INTERNAL
        status:
          type: string
          example: DONE
        data_cadastro:
          type: string
          example: "05/05/2021 06:16:48"
        data_atualizacao:
          type: string
          example: "05/05/2021 06:16:48"
    TransferenciaBancariaCorpo:
      title: ExtratoContaPfModel
      required:
        - valor
        - descricao
        - beneficiario
      type: object
      properties:
        valor:
          description: Valor absoluto da transferência
          type: number
          example: 15.35
        descricao:
          description: Descrição da transferência
          type: string
          example: Dinheiro emprestado
        beneficiario:
          type: object
          properties:
            codigo_banco:
              type: string
              example: "033"
            agencia:
              type: string
              example: "00001"
            conta:
              type: string
              example: "182125"
            numero_documento:
              type: string
              example: "999999999999"
            nome:
              type: string
              example: Fulano
            tipo_conta:
              type: string
              enum:
                - corrente
                - poupança
    TransferenciaBancaria:
      title: TransferenciaBancaria
      type: object
      properties:
        identificador:
          type: string
          example: 2b7946d2-06c5-43b7-94b5-5701347a6e92
    ExtratoContaPfModel:
      title: ExtratoContaPfModel
      required:
        - tipo
        - valor
        - operacao
        - data_hora
      type: object
      properties:
        tipo:
          description: Tipo de registro da transação
          type: string
          enum: [TRANSFERÊNCIA, DEPÓSITO]
          example: TRANSFERÊNCIA
        valor:
          description: Valor absoluto da transação
          type: number
          example: 0.01
        operacao:
          description: Tipo de operação no saldo
          type: string
          enum: [DÉBITO, CRÉDITO]
          example: DÉBITO
        data_hora:
          description: Data/Hora da transação
          type: string
          example: "22/03/2021 15:14:12"
    ObterTransferenciaBancariaNaoEncontrado:
      title: ObterTransferenciaNaoEncontrado
      type: object
      properties:
        message:
          description: Transferência não encontrada
          type: string
          example: Transferência não encontrada.
    ExtratoContaPfNaoEncontrado:
      title: ExtratoContaPfNaoEncontrado
      type: object
      properties:
        message:
          description: Conta digital não encontrada
          type: string
          example: Conta digital não encontrada.
    ObterBeneficiarioNaoEncontrado:
      title: ObterBeneficiarioNaoEncontrado
      type: object
      properties:
        message:
          description: Beneficiário não encontrado.
          type: string
          example: Beneficiário não encontrado.
    RealizarTransferenciaErroSaldo:
      title: RealizarTransferenciaErroSaldo
      type: object
      properties:
        message:
          description: Valor está acima do saldo da conta.
          type: string
          example: Valor está acima do saldo da conta.
    RealizarTransferenciaErroContasIguais:
      title: RealizarTransferenciaErroContasIguais
      type: object
      properties:
        message:
          description: Conta do pagador e beneficiário devem ser diferentes.
          type: string
          example: Conta do pagador e beneficiário devem ser diferentes.
    RealizarTransferenciaErroHorario:
      title: RealizarTransferenciaErroHorario
      type: object
      properties:
        message:
          description: Transferência fora do horário disponível.
          type: string
          example: Transferência fora do horário disponível.
    ObterTransferenciaBancariaIndisponivel:
      title: TransferenciaIndisponivel
      type: object
      properties:
        message:
          description: Erro no serviço externo da Bankly
          type: string
          example: Não foi possível efetuar a transferência.
    TransferenciaIndisponivel:
      title: TransferenciaIndisponivel
      type: object
      properties:
        message:
          description: Erro no serviço externo da Bankly
          type: string
          example: Não foi possível efetuar a transferência.
    ExtratoContaPfIndisponivel:
      title: ExtratoContaPfIndisponivel
      type: object
      properties:
        message:
          description: Erro no serviço externo da Bankly
          type: string
          example: Não foi possível solicitar o extrato.
    CadastroInicialPfCorpo:
      title: CadastroInicialPfCorpo
      required:
        - cpf
        - nome_preferencia
        - nome_completo
        - data_nascimento
        - genero
        - ddd
        - telefone
        - chave_dispositivo
        - senha_cadastro
        - senha_transacao
        - email
      type: object
      properties:
        cpf:
          type: string
          example: "00000000000"
        nome_preferencia:
          type: string
          example: Robertinho
        nome_completo:
          type: string
          example: Robertinho da Silva
        data_nascimento:
          type: string
          example: "2002-01-01"
        genero:
          type: string
          example: M
        ddd:
          type: string
          example: "79"
        telefone:
          type: string
          example: "999999999"
        chave_dispositivo:
          type: string
          example: "8aac07cc-9a52-483d-bbbd-a0e6739fadd3"
        senha_cadastro:
          type: string
          example: dspoqwkeq
        senha_transacao:
          type: string
          example: "999999"
        email:
          type: string
          example: "numeroseletras@gmail.com"
    CadastroInicialPf:
      title: CadastroInicialPf
      required:
        - sucesso
      type: object
      properties:
        sucesso:
          description: Sucesso no cadastro do cliente
          type: boolean
          example: true
    ObterContratoContaPfErroNaoEncontrado:
      title: ObterContratoContaPfErroNaoEncontrado
      type: object
      properties:
        message:
          description: Caso contratos vigentes não sejam encontrados
          type: string
          example: Contrato vigente não encontrado.
    CadastroInicialPfErro:
      title: CadastroInicialPfErro
      type: object
      properties:
        message:
          description: Erro no cadastro inicial do cliente
          type: string
          example: Erro no cadastro de pessoa física.
    ObterContratoCarteiraCartaoErroLink:
      title: ObterContratoCarteiraCartaoErroLink
      type: object
      properties:
        message:
[...]
